    <h1> Cadastre-se abaixo: </h1>
<div class="card">
    <div class="card-body">
        <form action="/usuarios/registrar/novo" method="POST">
            <label for="nome" class="mt-1">Nome: </label>
            <input type="text" class="form-control" name="nome" placeholder="Digite o nome desejado aqui">

            <label for="arroba" class="mt-2">Nome de usuário: </label>
            <input type="text" class="form-control" name="arroba" placeholder="Digite seu nome de usuário. Obs: deve ser único">

            <label for="biografia" class="mt-2">Biografia: </label>
            <textarea class="form-control" name="biografia" placeholder="Digite a sua biografia (opcional)"></textarea>

            <label for="email" class="mt-2">Email: </label>
            <input type="email" class="form-control" name="email" placeholder="Digite seu email">

            <label for="senha" class="mt-2">Senha: </label>
            <input type="password" class="form-control" name="senha" placeholder="Digite a sua senha">

            <label for="cofirmaSenha" class="mt-2">Confirme a sua senha: </label>
            <input type="password" class="form-control" name="confirmaSenha" placeholder="Confirme a sua senha">

            <button type="submit" class="btn btn-sm btn-success mt-4">Cadastrar</button>
        </form>
    </div>
</div>